.product-carousel {
  .product-carousel-slider {
    .slider-list {
      .slider-item {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .product-carousel-thumbnail {
    .thumbnail-list {
      .thumbnail-item {
      }
    }
  }
}
