.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  .gnb-wrapper {
    @include flexbox(space-between);
    height: 50px;

    .gnb-left {
      .logo {
        @include position-center;

        a {
          display: block;
        }

        img {
          display: block;
          width: auto;
          height: 20px;
        }
      }

      .gnb-menu-button {
        color: $blue;
      }
    }

    .gnb-right {
      .gnb-button-group {
        @include flexbox(flex-end);

        .gnb-search-button {
          margin-right: 4px;
        }
      }
    }
  }

  @include responsive(Tablet) {
    .gnb-wrapper {
      height: 80px;

      .gnb-left {
        display: flex;

        .logo {
          position: static;
          transform: none;
          margin-right: 32px;

          img {
            height: 24px;
          }
        }
      }

      .gnb-right {
        @include flexbox(flex-end);

        .gnb-button-group {
          margin-right: 24px;

          .gnb-icon-button {
            margin-right: 8px;
          }
        }

        .btn-fill-primary {
          width: 88px;

          i {
            margin-left: 4px;
          }
        }
      }
    }
  }

  @include responsive(Desktop) {
    .gnb-right {
      .input-group {
        width: 264px;
        margin-right: 24px;
      }
    }
  }
}
