.gnb {
  position: relative;
  border-bottom: 1px solid $border;
  background-color: $white;

  .gnb-wrapper {
    @include flexbox(space-between);
    height: 50px;

    .gnb-left {
      .logo {
        @include position-center;

        a {
          display: block;
        }

        img {
          display: block;
          width: auto;
          height: 20px;
        }
      }

      .gnb-menu-button {
        color: $blue;
      }
    }

    .gnb-right {
      .gnb-button-group {
        @include flexbox(flex-end);

        .gnb-search-button {
          margin-right: 4px;
        }
      }
    }
  }

  @include responsive(Tablet) {
    .gnb-wrapper {
      height: 80px;

      .gnb-left {
        display: flex;

        .logo {
          position: static;
          transform: none;
          margin-right: 32px;

          img {
            height: 24px;
          }
        }
      }

      .gnb-right {
        @include flexbox(flex-end);

        .gnb-button-group {
          margin-right: 24px;

          .gnb-icon-button {
            margin-right: 8px;
          }

          .gnb-auth {
            margin-left: 8px;

            a {
              @include text-style(14, $secondary);
              font-weight: 700;
              transition: color 200ms ease-in-out;

              &:first-child {
                margin-right: 12px;
              }

              &:hover {
                color: $blue;
              }
            }
          }
        }

        .btn-fill-primary {
          width: 88px;

          i {
            margin-left: 4px;
          }
        }
      }
    }
  }

  @include responsive(Desktop) {
    .gnb-right {
      .gnb-search {
        position: relative;
        width: 264px;
        margin-right: 24px;

        .input-group {
          width: 100%;
        }

        .search-history {
          position: absolute;
          top: calc(100% + 8px);
          left: 0;
          display: none;
          width: 100%;
          padding: 16px 8px 8px;
          background-color: $white;
          border: 1px solid $border;
          border-radius: 4px;
          box-shadow: $dropdown-shadow;

          &.is-active {
            display: block;
          }

          .search-history-header {
            padding: 0 8px;
          }
        }
      }
    }
  }
}
