.lnb {
  width: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .lnb-list {
    @include inline-flexbox(flex-start);
    position: relative;
    left: -8px;
    height: 40px;
    border-bottom: 1px solid $border;
    white-space: nowrap;

    .lnb-item {
      a {
        @include inline-flexbox;
        @include text-style(13, $primary);
        font-weight: 700;
        height: 40px;
        padding: 0 8px;
        border-bottom: 2px solid transparent;

        .ic-new {
          color: $red;
        }
      }

      &.is-active {
        a {
          color: $blue;
          border-bottom-color: $blue;
        }
      }
    }
  }
}
