.lnb {
  width: 100%;
  overflow-x: auto;
  background-color: $white;

  &::-webkit-scrollbar {
    display: none;
  }

  .lnb-list {
    @include inline-flexbox(flex-start);
    position: relative;
    left: -8px;
    height: 40px;
    border-bottom: 1px solid $border;
    white-space: nowrap;

    .lnb-item {
      a {
        @include inline-flexbox;
        @include text-style(13, $primary);
        font-weight: 700;
        height: 40px;
        padding: 0 8px;
        border-bottom: 2px solid transparent;

        .ic-new {
          color: $red;
        }
      }

      &.is-active {
        a {
          color: $blue;
          border-bottom-color: $blue;
        }
      }
    }
  }

  @include responsive(Tablet) {
    height: 50px;
    border-bottom: 1px solid $border;
    overflow-x: visible;
    .lnb-list {
      height: auto;
      padding: 0;
      margin-left: 0;
      border-bottom: 0;
      .lnb-item {
        a {
          @include text-style(14);
          height: 50px;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
