.product-tab {
  $grid-margin: $sm-margin + $gutter / 2;

  width: 100%;
  height: 40px;
  border-bottom: 1px solid $border;
  background-color: $white;

  .product-tab-list {
    @include flexbox;
    margin: 0 -#{$grid-margin};

    .product-tab-item {
      width: (100% / 5);

      &.is-active {
        button {
          color: $blue;
          border-bottom-color: $blue;
        }
      }

      button {
        @include flexbox;
        @include text-style(13, $strong);
        font-weight: 700;
        width: 100%;
        height: 40px;
        white-space: nowrap;
        border-bottom: 2px solid transparent;

        &:active {
          color: $blue;
        }

        .badge {
          color: $secondary;
          margin-left: 4px;
        }
      }
    }
  }

  @include responsive(Tablet) {
    height: 54px;
    background-color: $background;
    border-bottom: 0;

    .product-tab-list {
      margin: 0;

      .product-tab-item {
        button {
          @include text-style(16);
          height: 54px;

          .badge {
            margin-left: 8px;
          }
        }
      }
    }
  }

  @include responsive(Desktop) {
    .product-tab-item {
      button {
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
