body {
  background-color: black;
}

.sidebar {
  width: 240px;
  padding: 32px 20px;
  background-color: $white;

  .sidebar-header {
    padding: 0 12px;

    .logo {
      @include flexbox(flex-start);

      a {
        display: block;
      }

      img {
        display: block;
        width: auto;
        height: 20px;
      }
    }

    .sidebar-user {
      margin: 32px 0;

      a {
        @include flexbox(flex-start);
        width: 100%;

        .avatar-24 {
          flex-shrink: 0;
          flex-grow: 0;
        }

        .username {
          @include text-style(14px, $primary);
          font-weight: 700;
          margin-left: 8px;
          white-space: nowrap;
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .sidebar-auth {
      @include flexbox(space-between);
      margin: 24px 0;

      a {
        @include flexbox;
        width: 84px;
      }
    }
  }

  .sidebar-nav {
    .drawer-menu {
      border-top: 1px solid $border;
    }

    .sidebar-user-menu {
      margin-top: 16px;

      .user-menu-list {
        position: relative;

        .user-menu-item {
          a {
            @include text-style(14, $primary);
            @include flexbox(flex-start);
            width: 100%;
            height: 36px;
            font-weight: 400;
            padding: 0 12px;

            &:active {
              color: $blue;
            }
          }
        }
      }
    }
  }
}
